.contacto {
  display: flex;
  justify-content: center;
  background-color: var(--texto-azul-10);
  padding: 4rem 0;
}

.contacto .contenedor {
  display: flex;
  justify-content: space-between;
}
.contacto__izquierda{
    width: 50%;
    display: flex;
    justify-content:space-between;
}
.contacto__logo a {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.contacto__enlace{
    width: 50%;
}
.contacto__enlace ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--texto-gris-100);
}
.contacto__enlace li {
  display: block;
}
/* Formulario de Contacto */
.contacto__derecha{
    width: 50%;
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.contacto__derecha h4{
    font-size: 1rem;
    font-weight: 700;
    color: var(--texto-gris-100);
}
.contacto__derecha form{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:769px){
    .contacto__izquierda{
        flex-direction: column;
    }
    .contacto__enlace{
        flex:auto;
        width:100%
    }
}
@media screen and (max-width:426px){
    .contacto .contenedor{
        flex-direction: column;
        align-items: center;
    }
    .contacto__izquierda{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .contacto__enlace{
        height: 13rem;
        margin-bottom: 2rem;
    }
    .contacto__derecha{
        width: 100%;
    }
}