.formproducto{
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    background-color: var(--texto-gris-5);
}

.formproducto .contenedor{
    display: flex;
    justify-content: center; 
}

.formproducto__formulario{
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
}

.formproducto__titulo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--texto-gris-100);
    margin-bottom: .5rem;
}

.formproducto__boton{
    margin-top: .5rem;
}