:root {
  --texto-negro-100: #000;
  --texto-azul-100: #2a7ae4;
  --texto-azul-10: #eaf2fd;
  --texto-blanco-100: #ffffff;
  --texto-gris-100: #464646;
  --texto-gris-50: #a2a2a2;
  --texto-gris-30: #c8c8c8;
  --texto-gris-5: #f5f5f5;

  --texto-familia: "Raleway", sans-serif;

  --opacidad-negro: 0.2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  margin-top: 0;
}
